.button {
    -fx-background-color: black;
    //-fx-background-radius: 5,4,3,5;
    //-fx-background-insets: 0,1,2,0;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-min-width: 120px;
}

.button:hover {
	 -fx-text-fill: black;
	 -fx-background-color: white;
	 -fx-min-width: 200px;
}

.choice-box {
	 -fx-background-color: black;
	 -fx-border-color: white;
	 -fx-text-fill: white;
}

.choice-box .menu-item:focused {
  	-fx-text-fill: crimson;
}

.choice-box .context-menu {
   -fx-background-color: black;
}

.choice-box .arrow {
   -fx-background-color: blue;
}

.choice-box .label {
  -fx-text-fill: salmon;
}

.text-field {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-size: 20px;
}